:root {
    --very-dark-blue: hsl(233, 47%, 7%); /*background*/
    --dark-desaturated-blue: hsl(244, 38%, 16%); /*card - background*/
    --soft-violet: hsl(277, 64%, 61%); /*accent*/

    --white: hsl(0, 0%, 100%); /*main heading, stats*/
    --white75: hsla(0, 0%, 100%, 0.75);/*main paragraph*/
    --white60: hsla(0, 0%, 100%, 0.6);/*stat headings*/
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    /* max-width: 1440px; */
    color: var(--white);
    background-color: var(--very-dark-blue);
}

.main {
    margin: 200px auto;
    width: 800px;
}

.content { 
    display: flex;
    flex-direction: col;
    background-color: var(--dark-desaturated-blue);
    border-radius: 8px;
    width: 800px;
    height: 300px;
 }

 .sell {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
 }

 .sell>p {
    margin-top: -10px;
    color: var(--white75);
    text-align: left;
 }

 #purple {
    color: var(--soft-violet);
 }

h1 {
    color: var(--white);
    font-weight: 700;
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
}

.productValue {
    display:flex;
    flex-direction: row;
    margin-top: -20px;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.stats {
    margin: 0;
    padding: 0;
}

.stats>p {
    text-transform: uppercase;
    color: var(--white60);
    font-size: 12px;
    margin: 0;
    padding: 0;
}

img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--white); }


@media screen and (max-width: 375px) {
    .main {
        margin: 100px auto;
        width: 325px;
        display: block;
    }

    .content {
        width: 325px;
        height: 770px;
    }

     .sell {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px 40px;
        position: relative;
        top: 268px;
    }

     section.hero {
        clear: both;
        justify-content: flex-start;
        position: relative;
        left: -340px;
        width: 325px !important;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    h1 {
        text-align: center;
        width: 250px;
    }

    .sell>p {
        text-align: center;
    }

    .productValue {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

     img {
        align-items: flex-start;
        width: 325px;
        height: auto;
        margin-left: 9px;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
     }

     #overlay {
        position: absolute;
        width: 325px;
        height: 268px;
        margin-left: 9px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: var(--soft-violet);
        opacity: 0.5;
     }

     h2 {
        font-size: 24px;
        padding-bottom: 10px;
     }

     footer {
        position: relative;
        top: -60px;
    }
}
